<hr/>
<div class="row-fluid text-center">
	<div class="col-md-4 inactive-page">
	<%= link_to '1', cart_path, class: "round" %>
		<span>View Cart</span>
	</div>
	<div class="col-md-4">
		<span class="round active-page">2</span>
		<span>Payment</span>
	</div>
	<div class="col-md-4 inactive-page">
	<%= link_to '3', info_path, class: "round" %>
		<span>Additional info</span>
	</div>
</div>

<div class="row-fluid">
	<section class="col-sm-8">
		<legend class="italic-header"><i>Your Billing Information</i></legend>
		<form method="post" role="form" class="form-group" id="form-font">
		<div id="full-name">
			<div class="name">
			<label class="control-label">FIRST NAME</label>
			<input type="text" class="form-control" required>
			</div>
			<div class="name">
			<label class="control-label">LAST NAME</label>
			<input type="text" class="form-control" required>
			</div>
		</div>

		<div id="zip-code">
			<label class="control-label">ZIP CODE</label>
			<input type="number" class="form-control" required>
		</div>

		<div id="card-number">
			<label class="control-label">CARD NUMBER</label>
			<input type="number" class="form-control" required>
		</div>

		<div id="exp-date">
		<div>
		    <label class="control-label">Expiration Date</label>
		    <div id="date-option">
		      <SELECT>
		        <OPTION VALUE="" SELECTED>01</OPTION>
		        <OPTION VALUE="02">02</OPTION>
		        <OPTION VALUE="03">03</OPTION>
		        <OPTION VALUE="04">04</OPTION>
		        <OPTION VALUE="05">05</OPTION>
		        <OPTION VALUE="06">06</OPTION>
		        <OPTION VALUE="07">07</OPTION>
		        <OPTION VALUE="08">08</OPTION>
		        <OPTION VALUE="09">09</OPTION>
		        <OPTION VALUE="10">10</OPTION>
		        <OPTION VALUE="11">11</OPTION>
		        <OPTION VALUE="12">12</OPTION>
		      </SELECT>
		      <SELECT>
		        <OPTION VALUE="" SELECTED>2014</OPTION>
		        <OPTION VALUE="15">2015</OPTION>
		        <OPTION VALUE="16">2016</OPTION>
		        <OPTION VALUE="17">2017</OPTION>
		        <OPTION VALUE="18">2018</OPTION>
		        <OPTION VALUE="19">2019</OPTION>
		        <OPTION VALUE="20">2020</OPTION>
		      </SELECT>
		      </div>
		 </div>
		 <div id="cvv">
			    <label class="control-label">CVV</label>
			    <input type="text" class="form-control" required>
		  </div>
		  </div>
		  <br>
		  <div id="checkbox">
		  <input id="save-card" type="checkbox" checked="checked"><label for="save-card">SAVE CARD FOR FUTURE USE</label>
		  </div>
		<hr>
		<p class="pull-right">
		  <a href="#" class="happiness" data-toggle="modal" data-target="#myModal">HAPPINESS GARANTEE!</a>
		  <%= link_to info_path do %>
		  <button type="submit" type="button" class="btn btn-primary button">PLACE ORDER</button>
		  <% end %>
		</p>
		<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-body">
					      <legend class="title">HAPPINESS GUARANTEE</legend>
					      <h2 class="popup_header"><i>Our Promise to You</i></h2>
					      <p class="popup_content text-muted">Decorist is all about you. When you order a designer service one of our experienced designers will review your profile, questionnaire, photos and anything else you have provided. They will develop a recomendation that is personal - one that reflects your lyfestyle, style and budget.
					      <br><br>
					      We really want you to love your recommendations and use them to transform your space. If you are not delighted with your recommendations please email us and we will make it right. We will work to make sure you get recommendations that make you, and your room, happy so you can fall in love with your home all over again.</p>
					      <h2 class="popup_header"><i>About Decorist Designers</i></h2>
					      <p class="popup_content text-muted">Decorist designers are carefully selected for their ability to deliver great recommendations that reflect your style and budget. Our designers know which products work, how to pull a look together quickly and easily with a focus on key elements that will give you the most bang for your buck. Their product recommendations are made without consideration of any product commissions - all recommendations are based on what the designer thinks will look great and work for your space based on experience -- period.</p>
					      </div>
					     
					    </div>
					  </div>
					</div>
		</form>
		</section>
		<aside class="col-sm-4">
			 <%= image_tag('image-1.png') %>
		</aside>
	</div>