<div class="row-fluid text-center">
	<div class="col-md-4">
	<%= link_to cart_path do %>
		<span class="round">1</span>
	<% end %>
		<span>View Cart</span>
	</div>
	<div class="col-md-4">
		<span class="round">2</span>
		<span>Payment</span>
	</div>
	<div class="col-md-4">
	<%= link_to info_path do %>
		<span class="round">3</span>
	<% end %>
		<span>Additional info</span>
	</div>
</div>

<div class="row-fluid">
	<section class="col-sm-8">
		<legend class="italic-header"><i>Your Billing Information</i></legend>
		<form method="post" role="form" class="form-group" id="form-font">
		<div id="full-name">
			<div class="name">
			<label class="control-label">FIRST NAME</label>
			<input type="text" class="form-control" required>
			</div>
			<div class="name">
			<label class="control-label">LAST NAME</label>
			<input type="text" class="form-control" required>
			</div>
		</div>

		<div id="zip-code">
			<label class="control-label">ZIP CODE</label>
			<input type="number" class="form-control" required>
		</div>

		<div id="card-number">
			<label class="control-label">CARD NUMBER</label>
			<input type="number" class="form-control" required>
		</div>

		<div id="exp-date">
		    <label class="control-label">Expiration Date</label>
		      <SELECT NAME="CCExpiresMonth" >
		        <OPTION VALUE="" SELECTED>01
		        <OPTION VALUE="02">02
		        <OPTION VALUE="03">03
		        <OPTION VALUE="04">04
		        <OPTION VALUE="05">05
		        <OPTION VALUE="06">06
		        <OPTION VALUE="07">07
		        <OPTION VALUE="08">08
		        <OPTION VALUE="09">09
		        <OPTION VALUE="10">10
		        <OPTION VALUE="11">11
		        <OPTION VALUE="12">12
		      </SELECT>
		      <SELECT NAME="CCExpiresYear">
		        <OPTION VALUE="" SELECTED>2014
		        <OPTION VALUE="15">2015
		        <OPTION VALUE="16">2016
		        <OPTION VALUE="17">2017
		        <OPTION VALUE="18">2018
		        <OPTION VALUE="19">2019
		        <OPTION VALUE="20">2020
		      </SELECT>
		    <label>CVV</label>
		       <input id="cvv" size="4" type="text" value="" required>
		  </div>
		  <br>
		  <input type="checkbox" checked="checked" name="save" value="">SAVE CARD FOR FUTURE USE<br>
		<hr>
		<p class="pull-right">
		  <a href="#" class="happiness" data-toggle="modal" data-target="#myModal">HAPPINESS GARANTEE!</a>
		  <%= link_to info_path do %>
		  <button type="submit" type="button" class="btn btn-primary button">PLACE ORDER</button>
		  <% end %>
		</p>
		</form>
		</section>
		<aside class="col-sm-4">
			 <%= image_tag('image-1.png') %>
		</aside>
	</div>