// Cart
tbody {
	.plus:hover, .minus:hover, .remove:hover {
		cursor: pointer;
	}
	input {
		width: 5%;
		border-style: none;
	}
}
#item {
	width: 40%;
	font-size: 12px;
	white-space: nowrap;
}
#quantity{
	width: 24%;
}
#num{
	margin-left: 2px;
	margin-right: 4px;
}
.cell{
	width: 18%;
}
#stats {
	background-color: #fafafa;
	position: relative;
}
#promo {
	position: absolute;
	bottom: 8px;
	left: 12px;
}
// PAYMENT

.italic-header {
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-family: 'justusitalicoldstyle'; 
}
#full-name{
	display: inline-flex;
}
.name {
	margin-right: 7px;
}
#form-font{
	font-weight: normal!important;
	font-size: 12px;
}
#zip-code {
	width: 20%!important;
}
#card-number {
	width: 50%!important
}
#exp-date{
	display: inline-flex;
}
#date-option{
	display: block;
	margin-right: 8px;
	select{
		height: 34px;
		font-size: 14px;
		background-color: #fff;
		padding: 5px;
		margin-right: 3px;
		color: #555555;
		border-radius: 4px;
		border: 1px solid #cccccc;
	}
}
#cvv {
	width: 18%!important;
}
#checkbox{
	margin-top: 10px;
	span{
		
	}
}

// INFO
#status-box{
	background-color: forestgreen;
	color: #fff;
	border-radius: 4px;
	margin-bottom: 15px;
	padding: 6px;
}
#status-header {
	font-size: 20px;
	font-family: 'FuturaBTMedium';
	text-align: center;
}
#status-content {
	font-size: 16px;
	font-family: 'justusitalicoldstyle';
	text-align: center;
}
.input-size {
	width: 30%!important;
	margin: 5px 5px 5px 0;
}
.input-size-big {
	width: 38%!important;
	margin: 5px 5px 5px 0;
}
.info {
	font-size: 14px!important;
	margin-bottom: 22px;
	color: #555555;
}
.add-info{
	font-size: 13px;
	font-weight: 500;
	font-family: 'FuturaBTMedium';
	text-align: left;
	white-space: nowrap;
	margin-top: 10px;
}
.form {
	margin-bottom: 15px;
	margin-right: 5px;
	border-radius: 2px;
}
.small-font{
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
#upload-form{
	border-radius: 4px;
	margin-bottom: 15px;
	padding: 6px;
	text-align: center;
	color: #999;
	border: 1px solid #cccccc;
}
.blue-links {
	font-size: 13px;
	font-weight: 500;
	font-family: 'FuturaBTMedium';
	color: #3276b1;
}
.upload {
	position: relative;
	&:hover{
		cursor: pointer;
	}
}
.gray {
	background-color: #eee!important;
	color: #78a8bb!important;
	border: 1px solid #eee!important;
}
hr {
	margin-top: 35px;
	margin-bottom: -21px;
	border: 0;
	border-top: 1px solid #eeeeee;
	z-index: -1;
}
.alert {
	width: 100%;
	background-color: red;
	height: 2.8em;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	}
