@import "bootstrap";

.container {
	width: 960px;
	background-color: #fafafa;
}
.title {
	font-size: 28px !important;
	text-align: center;
	font-weight: normal;
} 
small {
	font-family: 'justusitalicoldstyle';
	font-size: 18px;
}

.round{
	display: table;
	width: 40px;
	height: 40px;
	border: solid 1px #999999;
	border-radius: 40px;
	font-size: 20px;
	font-family: 'FuturaBTMedium';
	line-height: 40px;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
}
.col-md-4 {
	font-family: 'justusitalicoldstyle';
	font-size: 18px;
	font-style: italic;
	margin-bottom: 25px;

}

header {
	margin-top: 25px;
	i{
		font-size: 18px;
		font-family: 'justusitalicoldstyle';
	}
}
section {
	background-color: #fff;
	height: 100%;
}
aside {
	
}
.happiness {
	color: #78a8bb!important;
}
 table tbody tr td {
	vertical-align: middle !important;
	img {
		height: 60px;
		width: 60px;
		}
}

td {
	font-family: 'FuturaBTMedium';
	span{
		color: #78a8bb!important;
		font-size: 14px;
		margin-left: 4px;
		margin-right: 4px;
		.amount .remove {
			text-transform:uppercase;
		}
	}
}
.button {
	background-color: #78a8bb;
}

.borderless tbody tr td {
    border: none;
}
#stats {
	background-color: #fafafa;
}