@import "bootstrap";

.container {
	width: 960px;
	background-color: #fafafa;
}
.title {
	font-size: 28px !important;
	text-align: center;
	font-weight: normal;
} 
small {
	font-family: 'justusitalicoldstyle';
	font-size: 18px;
}

label{
	display: table;
	width: 40px;
	height: 40px;
	border: solid 1px #999999;
	border-radius: 40px;
	font-size: 20px;
	font-family: 'FuturaBTMedium';
	line-height: 40px;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
}
span {
	font-family: 'justusitalicoldstyle';
	font-size: 18px;
	font-style: italic;
}
.main {
	width: 100%;
}
section {
	background-color: #fff;
	height: 100%;
}
aside {
	
}
span a {
	color: blue;
}
table tbody tr td img {
	height: 60px;
	width: 60px;
}
td {
	font-family: 'FuturaBTMedium';
	span{
		color: #78a8bb;
		font-size: 14px;
		margin-left: 4px;
		margin-right: 4px;
		.amount .remove {
			text-transform:uppercase;
		}
	}
}